<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
    />
  </head>
  
  <body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-blue-500 p-4 flex justify-between items-center">
        <h1 class="text-white text-2xl">Welcome </h1>
        <button
          onclick="switchToStudentDashboard()"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          Logout
        </button>
      </nav>
      <!-- Admin Dashboard -->
      <div id="adminDashboard" class="p-10">
        <h1 class="text-center text-3xl mb-4">Student Dashboard</h1>
        <hr>

        <table class="table-auto w-full mb-4">
            <tr>
                <th class="px-4 py-2">Serial No</th>
                <th class="px-4 py-2">First Name</th>
                <th class="px-4 py-2">Last Name</th>
                <th class="px-4 py-2">Email</th>
                <th class="px-4 py-2">Your DEPT</th>
                <th class="px-4 py-2">First Name</th>
                <th class="px-4 py-2">GPA</th>
            </tr>
            {% for i in x %}
            <tr>
                <td>{{i.student_number}}</td>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.field_of_study}}</td>
                <td>{{i.gpa}}</td>
                <!-- <td>
                    <a href="ed/{{i.id}}">edit</a>
                </td> -->
            </tr>
            {% endfor %}
        </table>

      <!-- Add your JavaScript links here -->
  </body >
</html>