<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
    />
  </head>
  
  <body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-blue-500 p-4 flex justify-between items-center">
        <h1 class="text-white text-2xl">Welcome </h1>

        <a href="{% url 'logout' %}"
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
    >
      Logout
    </a>
      </nav>
      <!-- Admin Dashboard -->
      <div id="adminDashboard" class="p-10">
        <h1 class="text-center text-3xl mb-4">Student Dashboard</h1>
        <hr>

        <!-- Data Table -->
<table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
  <thead class="bg-gray-50">
      <tr>
          <th class="px-4 py-2">Serial No</th>
          <th class="px-4 py-2">Student ID</th>
          <th class="px-4 py-2">Student Name</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Your DEPT</th>
          <th class="px-4 py-2">Present</th>
      </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
      {% for student in students %}
      <tr>
          <td class="px-4 py-2 overflow-ellipsis overflow-hidden">{{student.id}}</td>
          <td class="px-4 py-2 overflow-ellipsis overflow-hidden">{{student.collegeId}}</td>
          <td class="px-4 py-2 overflow-ellipsis overflow-hidden">{{student.studentName}}</td>
          <td class="px-4 py-2 overflow-ellipsis overflow-hidden">{{student.emailId}}</td>
          <td class="px-4 py-2 overflow-ellipsis overflow-hidden">{{student.department}}</td>
          <td class="px-4 py-2 overflow-ellipsis overflow-hidden">{{student.present}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <div class="flex justify-center items-center mt-4">
          {% for student in students %}
          <button id="setPresentButton{{student.id}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-500 ease-in-out">
            Set Present
          </button>
          
          <script>
          $('#setPresentButton{{student.id}}').click(function() {
            console.log('Button clicked')
            console.log('{{student.id}}')
            $.ajax({
              url: '/set_present/',
              type: 'POST',
              data: { 'studentId': '{{student.id}}' },
              success: function(response) {
                location.reload();
              },
              error: function(error) {
                alert('An error occurred');
              }
            });
          });
          </script>
          {% endfor %}
        </div>
      <!-- Add your JavaScript links here -->
  </body>
</html>